################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MRIT/obj
/MRIT/bin/Debug
/MRIT/bin/Debug
/MRIT/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
/MRIT/bin/Debug/Newtonsoft.Json.xml
/MRIT/bin/Debug/Newtonsoft.Json.dll
/MRIT/bin/Debug/MRIT.pdb
/MRIT/bin/Debug/MRIT.exe.config
/MRIT/bin/Debug/MRIT.exe
/MRIT/bin/Debug/MongoDB.Driver.xml
/MRIT/bin/Debug/MongoDB.Driver.dll
/MRIT/bin/Debug/MongoDB.Driver.Core.xml
/MRIT/bin/Debug/MongoDB.Driver.Core.dll
/MRIT/bin/Debug/MongoDB.Bson.xml
/MRIT/bin/Debug/MongoDB.Bson.dll
/MRIT/bin/Debug/LiveCharts.xml
/MRIT/bin/Debug/LiveCharts.Wpf.xml
/MRIT/bin/Debug/LiveCharts.Wpf.pdb
/MRIT/bin/Debug/LiveCharts.Wpf.dll
/MRIT/bin/Debug/LiveCharts.pdb
/MRIT/bin/Debug/LiveCharts.dll
/MRIT/bin/Debug/CsvHelper.xml
/MRIT/bin/Debug/CsvHelper.dll
/MRIT/bin/Debug
/MRIT/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
/MRIT/bin/Debug/Newtonsoft.Json.xml
/MRIT/bin/Debug/Newtonsoft.Json.dll
/MRIT/bin/Debug/MRIT.pdb
/MRIT/bin/Debug/MRIT.exe.config
/MRIT/bin/Debug/MRIT.exe
/MRIT/bin/Debug/MongoDB.Driver.xml
/MRIT/bin/Debug/MongoDB.Driver.dll
/MRIT/bin/Debug/MongoDB.Driver.Core.xml
/MRIT/bin/Debug/MongoDB.Driver.Core.dll
/MRIT/bin/Debug/MongoDB.Bson.xml
/MRIT/bin/Debug/MongoDB.Bson.dll
/MRIT/bin/Debug/LiveCharts.xml
/MRIT/bin/Debug/LiveCharts.Wpf.xml
/MRIT/bin/Debug/LiveCharts.Wpf.pdb
/MRIT/bin/Debug/LiveCharts.Wpf.dll
/MRIT/bin/Debug/LiveCharts.pdb
/MRIT/bin/Debug/LiveCharts.dll
/MRIT/bin/Debug/CsvHelper.xml
/MRIT/bin/Debug/CsvHelper.dll
/MRIT/bin/Debug
